:root {
  /* Цвета из палитры */
  /* основные */
  --main-black: #000000;
  --main-dark: #444444;
  --main-gray: #dcdcdc;
  --main-light-gray: #ebebeb;
  --main-light: #f0f0f0;
  --main-white: #ffffff;
  /* дополнительные */
  --extra-yellow: #ffe17f;
  --extra-hover: #ffc700;
  --extra-violet: #af4fff;
  /* статус */
  --status-error: #ff3d3d;
  --status-warn: #fd912e;
  --status-success: #08af00;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 30px;
}

/* header */
.page-header {
  background: linear-gradient(to bottom, var(--main-white) 23px, var(--extra-yellow) 23px);
}

.header-navigation-user-menu-item {
  line-height: 19px;
}

.header-navigation-link {
  text-decoration: none;
  color: inherit;
}

.form-search-field {
  opacity: 0.3;
}

.header-navigation-cart-count {
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  background-color: var(--main-white);
  text-align: center;
  border-radius: 50%;
  width: 21px;
  height: 21px;
}

.header-navigation-main-menu-item > .header-navigation-link {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
}

.catalog-nested-menu {
  line-height: 18px;
}
/* main of the main page*/

/* slider */
.slider-item-slogan {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.slider-item-description {
  font-size: 18px;
}

.button {
  display: inline-block;
  width: 220px;
  height: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-align: center;
  color: var(--main-black);
  background: linear-gradient(to bottom,
    transparent 7px,
    var(--extra-yellow) 7px,
    var(--extra-yellow) 15px,
    transparent 15px
  );
}

.slider-item-feature-value th{
  font-size: 36px;
  font-weight: normal;
}

/* categories */

.categories-item {
  display: inline-block;
  width: 160px;
}

.categories-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: var(--main-black);
}

.categories-link::before {
  display: block;
  content: "";
  background-color: var(--extra-yellow);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 160px;
  height: 160px;
}

.categories-virt-real::before {
  background-image: url("../img/categories/virt-real.svg");
}

.categories-monopod::before {
  background-image: url("../img/categories/monopod.svg");
  background-position: 50% 100%;
}

.categories-action-cam::before {
  background-image: url("../img/categories/action-cam.svg");
}

.categories-fitness-bracelet::before {
  background-image: url("../img/categories/fitness-bracelet.svg");
}

.categories-smart-watch::before {
  background-image: url("../img/categories/smart-watch.svg");
}

.categories-quadrocopter::before {
  background-image: url("../img/categories/quadrocopter.svg");
}

/* services */
.services {
  background-color: var(--main-light);
}

.services-menu-item-title {
  width: 160px;
}

.services-menu-item-title-current {
  display: inline-block;
  width: 160px;
  height: 40px;
  background-color: var(--main-black);
  color: var(--extra-yellow);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-align: center;
}

.services-content-item {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: right;
  width: 1016px;
}

.services-delivery {
  background-image: url("../img/services/delivery.svg");
}

.services-warranty {
  background-image: url("../img/services/warranty.svg");
}

.services-credit {
  background-image: url("../img/services/credit.svg");
}

.services-content-item-header {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.services-content-item-description {
  font-size: 18px;
  color: var(--main-dark);
}

/* delivery on demand */
.delivery-link {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--main-black);
  background-color: var(--main-light);
}

.delivery-link::before {
  content: "";
  display: block;
  position: absolute;
  width: 125px;
  height: 100px;
  background-color: var(--extra-yellow);
  background-image: url("../img/icons/delivery-rare.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.delivery-info {
  background-image: url("../img/icons/info.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* about */
.about-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  text-decoration: none;
}

.about-description {
  font-size: 18px;
  color: var(--main-dark);
}

.about-transports-item-link {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  color: var(--main-black);
}

.about-button {
  width: 260px;
}

/* contacts */
.contacts-address {
  font-style: normal;
  font-size: 18px;
}

.contacts-address-title {
  font-weight: bold;
  font-size: 24px;
  color: var(--main-dark);
}

.contacts-worktime {
  font-size: 18px;
  color: var(--main-dark);
}

/* subscription */
.subscription {
  background-color: var(--main-light);
}

/* footer */
.page-footer {
  background-color: var(--main-dark);
  color: var(--main-white);
}

/* catalog */

.catalog-filter-title {
  background-color: var(--main-gray);
}

.catalog-filter {
  background-color: var(--main-light-gray);
}

.catalog-content-header {
  background-color: var(--main-light-gray);
}

.product-pagination {
  background-color: var(--main-light-gray);
}
