:root {
  /* Цвета из палитры */
  /* основные */
  --main-black: #000000;
  --main-dark: #444444;
  --main-gray: #dcdcdc;
  --main-light-gray: #ebebeb;
  --main-light: #f0f0f0;
  --main-white: #ffffff;
  /* дополнительные */
  --extra-yellow: #ffe17f;
  --extra-hover: #ffc700;
  --extra-violet: #af4fff;
  /* статус */
  --status-error: #ff3d3d;
  --status-warn: #fd912e;
  --status-success: #08af00;
  /* прочие цвета */
  --main-black-transparent: rgba(0, 0, 0, 0.6);
  --main-black-very-transparent: rgba(0, 0, 0, 0.1);
  --main-white-transparent: rgba(255, 255, 255, 0.3);
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 30px;
  color: var(--main-dark);
}

/* page container */
.page-container {
  width: 1160px;
  margin: 0 auto;
}

/* header */
.page-header {
  background: linear-gradient(to bottom, var(--main-white) 40px, var(--extra-yellow) 40px);
  padding: 17px 60px;
}

.header-logo-link {
  display: block;
  margin-bottom: 30px;
}

.header-navigation-user-menu {
  list-style-type: none;
  margin: 0 0 45px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.header-navigation-search {
  margin-right: auto;
}

.header-navigation-user-menu-item {
  font-size: 16px;
  line-height: 19px;
  color: var(--main-black);
}

.header-navigation-link {
  text-decoration: none;
  color: var(--main-black);
}

.header-navigation-user {
  min-width: 245px;
}

.header-navigation-compare {
  min-width: 120px;
  margin-left: 15px;
}

.header-navigation-cart {
  margin-left: 15px;
  text-align: right;
}

.form-search-field {
  opacity: 0.3;
}

.form-search-button {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 19px;
  color: var(--main-black);
  background-color: transparent;
  border: 2px solid var(--main-black);
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.header-navigation-cart-count {
  display: inline-block;
  font-size: 14px;
  line-height: 17px;
  background-color: var(--main-white);
  text-align: center;
  border-radius: 50%;
  width: 21px;
  height: 21px;
}

.header-navigation-main-menu {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.header-navigation-main-menu-item > .header-navigation-link {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  line-height: 21px;
  letter-spacing: 0.2em;
}

.header-navigation-main-menu-catalog {
  margin-right: auto;
}

.header-navigation-main-menu-delivery {
  min-width: 140px;
  margin-right: 20px;
}

.header-navigation-main-menu-warranty {
  min-width: 140px;
  margin-right: 45px;
}

.header-navigation-main-menu-contacts {
  min-width: 140px;
  text-align: right;
}

.catalog-nested-menu,
.catalog-nested-menu-column{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-nested-menu {
  /*display: flex;*/
  display: none;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 18px;
}

.catalog-nested-menu-item {
  min-width: 120px;
  margin-right: 60px;
}

.catalog-nested-menu-item:last-child {
  margin-right: 0;
}

.catalog-nested-menu-cell:not(:last-child) {
  margin-bottom: 30px;
}

/* main of the main page*/
.main-container {
  flex-grow: 1;
}

/* slider */
.slider {
  position: relative;
  margin-bottom: 70px;
}

.slider-list {
  margin: 0;
  padding: 0;
}

.slider-item {
  background: linear-gradient(to bottom, var(--extra-yellow) 150px, transparent 150px);
  display: none;
  position: relative;
  width: 100%;
  z-index: -2;
}

.slider-item-current {
  display: inline-block;
}

.slider-item::after {
  position: absolute;
  font-weight: 800;
  font-size: 180px;
  line-height: 30px;
  color: var(--main-white);
  right: 49px;
  top: 80px;
  z-index: -1;
}

.slider-item-1::after {
  content: "01";
}

.slider-item-2::after {
  content: "02";
}

.slider-item-3::after {
  content: "03";
}

.slider-columns {
  display: flex;
}

.slider-image {
  position: relative;
  width: 560px;
  display: flex;
}

.slider-button-next,
.slider-button-prev {
  position: absolute;
  top: 50%;
}

.slider-button-prev {
  left: 0;
}

.slider-button-next {
  right: 0;
}

.slider-info {
  box-sizing: border-box;
  width: 600px;
  padding-left: 40px;
  padding-top: 121px;
}

.slider-item-slogan {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: var(--main-black);
  margin: 0 0 19px;
}

.slider-item-description {
  margin: 0 0 30px;
}

.button {
  display: inline-block;
  width: 220px;
  height: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-align: center;
  color: var(--main-black);
  background: linear-gradient(to bottom,
    transparent 7px,
    var(--extra-yellow) 7px,
    var(--extra-yellow) 15px,
    transparent 15px
  );
  border: none;
}

.slider-item-details {
  margin-bottom: 70px;
}

.slider-item-feature-value th{
  min-width: 160px;
  font-size: 36px;
  font-weight: normal;
  color: var(--main-black);
}

.slider-item-feature-name {
  font-size: 16px;
}

.slider-switch {
  position: absolute;
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  top: 320px;
  right: 60px;
}

/* categories */
.categories {
  margin-bottom: 70px;
}

.categories-list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.categories-item {
  display: inline-block;
  width: 160px;
}

.categories-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-decoration: none;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: var(--main-black);
}

.categories-link::before {
  display: block;
  content: "";
  background-color: var(--extra-yellow);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 160px;
  height: 160px;
  margin-bottom: 33px;
}

.categories-virt-real::before {
  background-image: url("../img/categories/virt-real.svg");
}

.categories-monopod::before {
  background-image: url("../img/categories/monopod.svg");
  background-position: 50% 100%;
}

.categories-action-cam::before {
  background-image: url("../img/categories/action-cam.svg");
}

.categories-fitness-bracelet::before {
  background-image: url("../img/categories/fitness-bracelet.svg");
}

.categories-smart-watch::before {
  background-image: url("../img/categories/smart-watch.svg");
}

.categories-quadrocopter::before {
  background-image: url("../img/categories/quadrocopter.svg");
}

/* services */
.services {
  background: linear-gradient(to bottom, transparent 100px, var(--main-light) 100px);
  padding-bottom: 69px;
  margin-bottom: 90px;
}

.services-columns {
  display: flex;
}

.services-menu {
  padding: 80px 0 0;
  margin: 0;
  width: 280px;
  list-style-type: none;
  border-right: 7px solid var(--main-black);
}

.services-menu-item{
  display: flex;
  height: 40px;
  margin-bottom: 25px;
  align-items: center;
  text-align: center;
}

.services-menu-item-current{
  background-color: var(--main-black);
  color: var(--extra-yellow);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.services-menu-item-title {
  width: 160px;
}

.services-content {
  padding: 70px 66px 0 116px;
  margin: 0;
  width: 880px;
  box-sizing: border-box;
}

.services-content-item {
  display: block;
  position: relative;
  background-repeat: no-repeat;
  background-position: right;
  min-height: 200px;
}

.services-content-item-current {
  display: block;
}

.services-content-item::after {
  display: inline-block;
  width: 136px;
  height: 164px;

  position: absolute;
  top: 0;
  right: 0;
  content: "";
  background-repeat: no-repeat;
  background-position: right;
}

.services-delivery {
  background-image: url("../img/services/delivery.svg");
}

.services-warranty {
  background-image: url("../img/services/warranty.svg");
}

.services-credit {
  background-image: url("../img/services/credit.svg");
}

.services-content-item-header {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: var(--main-black);
  margin: 0 0 14px;
  width: 560px;
}

.services-content-item-description {
  margin: 0;
  width: 500px;
}

/* delivery on demand */
.delivery {
  margin-bottom: 97px;
}

.delivery-on-demand {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100px;
  align-items: center;
  background-color: var(--main-light);
  width: 1160px;
}

.delivery-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--main-black);
}

.delivery-on-demand::before {
  content: "";
  display: block;
  width: 125px;
  height: 100px;
  background-color: var(--extra-yellow);
  background-image: url("../img/icons/delivery-rare.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.delivery-title {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.delivery-info {
  background-image: url("../img/icons/info.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: var(--main-gray);
  width: 40px;
  height: 40px;
  margin-right: 31px;
  border-radius: 50%;
  border: 1px solid var(--main-gray);
}

/* about */
.about-columns {
  display: flex;
  justify-content: space-between;
  padding-bottom: 87px;
}

.one-half-column {
  width: 560px;
}

.about::before,
.contacts::before {
  content: "";
  display: block;
  background-image: url("../img/icons/divider.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-top: 49px;
}

.about-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  text-decoration: none;
  color: var(--main-black);
  margin: 0 0 26px;
}

.about-description {
  margin: 0 0 30px;
}

.about-transports {
  margin: 0 0 52px;
  padding: 0 0 0 26px;
}

.about-transports-item-link {
  font-weight: bold;
  line-height: 20px;
  text-decoration: none;
  color: var(--main-black);
}

.about-button {
  width: 260px;
}

/* contacts */
.contacts-address {
  font-style: normal;
}

.contacts-address-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 15px;
}

.contacts-address-text {
  margin: 0;
}

.contacts-address-phone {
  color: var(--main-dark);
  margin-bottom: 30px;
}

.contacts-worktime {
  margin: 0 0 67px;
  padding: 0;
  list-style-type: none;
}

/* subscription */
.subscription {
  background-color: var(--main-light);
  padding-top: 75px;
  padding-bottom: 130px;
}

.subscription-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.subscription-description {
  margin: 0;
}

.subscription-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: var(--main-black);
  margin: 0;
}

.subscription-form {
  display: flex;
  align-items: center;
}

.subscription-field-email {
  width: 600px;
  height: 54px;
  border: none;
  border-bottom: 1px solid var(--main-black-very-transparent);
  background-color: var(--main-light);
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  padding: 0;
}

.subscription-button {
  color: var(--main-black);
  margin-right: auto;
  width: 260px;
  height: 55px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  font-weight: 800;
  text-transform: uppercase;
  border: 1px solid var(--main-black-very-transparent);
}

.subscription-free {
  position: relative;
  display: flex;
  width: 164px;
  text-align: right;
  align-items: baseline;
}

.subscription-free::before {
  content: "";
  background-image: url("../img/icons/tick-big.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  margin-right: auto;
}

/* footer */
.page-footer {
  background-color: var(--main-dark);
  color: var(--main-white);
  padding-top: 62px;
  padding-bottom: 77px;
}

.footer-columns {
  display: flex;
}

.footer-left-column,
.footer-right-column {
  width: 360px;
}

.footer-middle-column {
  width: 440px;
}

.footer-right-column {
  text-align: right;
}

.footer-logo-link {
  margin-bottom: 35px;
}

.footer-address {
  width: 240px;
}

.footer-address::after {
  content: "";
  display: block;
  background-image: url("../img/icons/divider-footer.svg");
  background-repeat: no-repeat;
  background-position: 0 100%;
  padding-bottom: 66px;
}

.footer-address,
.footer-phone {
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
}

.footer-phone {
  margin: 75px 0 63px;
}

.footer-phone-link {
  color: inherit;
  text-decoration: none;
}

.footer-navigation-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}

.footer-navigation-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin: 75px 0 63px;
  flex-wrap: wrap;
}

.footer-social {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-social-item {
  width: 40px;
  height: 40px;
  background-color: var(--main-white-transparent);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer-social-item:not(:last-child){
  margin-right: 15px;
}

.footer-social-link-fb {
  background-image: url("../img/icons/facebook.svg");
}

.footer-social-link-inst {
  background-image: url("../img/icons/instagram.svg");
}

.footer-social-link-tw {
  background-image: url("../img/icons/twitter.svg");
}

/* catalog */

/* catalog-header */
.catalog-header {
  padding-top: 37px;
  padding-left: 60px;
  margin-bottom: 49px;
}

.catalog-title {
  color: var(--main-black);
  margin: 0 0 14px;
}

.catalog-breadcrumps {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.catalog-breadcrump-item:not(:last-child) {
  margin-right: 36px;
}

.catalog-breadcrump-link {
  color: var(--main-black);
  opacity: 0.6;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}

.catalog-columns {
  display: flex;
}

/* catalog-filter */
.catalog-filter-column {
  width: calc(50% - 580px + 328px);
  min-width: 328px;
}

.catalog-sub-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  color: var(--main-black);
  text-transform: uppercase;
}

.catalog-filter-header {
  background-color: var(--main-gray);
  display: flex;
  align-items: center;
}

.catalog-filter {
  background-color: var(--main-light-gray);
  padding-top: 70px;
}

.catalog-filter-container {
  width: 200px;
  margin: 0 0 0 auto;
  padding: 0 70px 0 0;
}

.filter-group-title {
  font-weight: bold;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: var(--main-black);
}

.catalog-filter-label {
  font-size: 15px;
  line-height: 18px;
  opacity: 0.3;
  color: var(--main-black);
}

.control-label {
  font-size: 16px;
  line-height: 19px;
  color: var(--main-black);
}

.catalog-filter-show-button {
  width: 200px;
}

/* catalog-sorting*/
.catalog-content-column {
  width: calc(50% - 580px + 832px);
  min-width: 832px;
}

.catalog-content-container {
  width: 832px;
}

.catalog-content-header {
  background-color: var(--main-light-gray);
}

.catalog-sorting-header {
  display: flex;
  padding-left: 72px;
  padding-top: 25px;
  padding-bottom: 25px;
  box-sizing: border-box;
}

.sorting-type {
  margin-right: auto;
}

.catalog-sorting-title {
  margin-right: 50px;
}

.select-control {
  border: none;
  background-color: var(--main-light-gray);
  font-size: 16px;
  line-height: 19px;
  color: var(--main-black);
}

.sorting-button-asc,
.sorting-button-desc {
  width: 30px;
  height: 30px;
}

/* catalog-content */

.product-link {
  color: var(--main-black);
  text-decoration: none;
}

.product-description {
  line-height: 24px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.02em;
}

.product-price {
  color: var(--main-dark);
  line-height: 21px;
}

.new-tag {
  --tag-size: 60px;
  display: inline-block;
  width: var(--tag-size);
  height: var(--tag-size);
  border-radius: 50%;
  border: 2px solid var(--main-black-transparent);

  color: var(--main-black);
  opacity: 0.6;

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
}

.new-tag-hidden {
  display: none;
}

.product-detail-button {
  width: 160px;
}

.load-more-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: var(--main-black);
}

/* catalog-pagination*/

.product-pagination {
  background-color: var(--main-light-gray);
}

.pagination-label {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--main-black);
}

.pagination-item-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: var(--main-dark);
  opacity: 0.3;
}
