html,
body {
  padding: 0;
  margin: 0;
}

/* header */
.page-header {
  background: linear-gradient(to bottom, #ffffff 23px, #ffe17f 23px);
}

/* main of the main page*/

/* slider */

/* categories */

.categories-item {
  display: inline-block;
  width: 160px;
}

.categories-link::before {
  display: block;
  content: "";
  background-color: #FFE17F;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 160px;
  height: 160px;
}

.categories-virt-real::before {
  background-image: url("../img/categories/virt-real.svg");
}

.categories-monopod::before {
  background-image: url("../img/categories/monopod.svg");
  background-position: 50% 100%;
}

.categories-action-cam::before {
  background-image: url("../img/categories/action-cam.svg");
}

.categories-fitness-bracelet::before {
  background-image: url("../img/categories/fitness-bracelet.svg");
}

.categories-smart-watch::before {
  background-image: url("../img/categories/smart-watch.svg");
}

.categories-quadrocopter::before {
  background-image: url("../img/categories/quadrocopter.svg");
}

/* services */
.services {
  background-color: #f0f0f0;
}

.services-content-item {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: right;
  width: 1016px;
  height: 388px;
}

.services-delivery {
  background-image: url("../img/services/delivery.svg");
}

.services-warranty {
  background-image: url("../img/services/warranty.svg");
}

.services-credit {
  background-image: url("../img/services/credit.svg");
}

/* footer */
.page-footer {
  background-color: #444444;
  color: #ffffff;
}

/* catalog */

.catalog-filter-title {
  background-color: #dcdcdc;
}

.catalog-filter {
  background-color: #e5e5e5;
}

.catalog-content-header {
  background-color: #ebebeb;
}

.product-pagination {
  background-color: #ebebeb;
}
